</main>

<div class="footer-desktop">
  <footer>
    <div id="description" class="container hide">

      <div class="row">
        <div class="col-sm-6 text-center">
          <h5>Formas de Pagamentos</h5>
          <div class="banner_pagamentos">
            <ul>
              <li class="hide"><img src="_galerias/payment/banco_brasil.png" class="img-responsive" alt="Banco do Brasil"></li>
              <li class="hide"><img src="_galerias/payment/bradesco.png" class="img-responsive" alt="Bradesco"></li>
              <li class="hide"><img src="_galerias/payment/caixa.png" class="img-responsive" alt="Caixa"></li>
              <li class="hide"><img src="_galerias/payment/itau.png" class="img-responsive" alt="Itau"></li>

              {% if payment_bank_transfer_status == 1%}
              <li class=""><img src="_galerias/payment/deposito.png" class="img-responsive" alt="Depósito Bancário"></li>
              {% endif %}

              {% if payment_pagseguro_lightbox_status == 1%}
              <li class=""><img src="_galerias/payment/pagseguro.png" class="img-responsive" alt="PagSeguro"></li>
              {% endif %}

              {% if payment_pp_standard_status == 1%}
              <li class=""><img src="_galerias/payment/paypal.png" class="img-responsive" alt="PayPal"></li>
              {% endif %}

              <li class="hide"><img src="_galerias/payment/boleto.png" class="img-responsive" alt="Boleto Bancário"></li>
              <li class="hide parcelamento"><img src="_galerias/payment/parcelamento_cartoes.png" class="img-responsive" alt="PayPal"></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 text-center">
          <h5>Formas de Envio</h5>
          <div class="banner_pagamentos">
            <ul>
              <li class=""><img src="_galerias/shipping/correios_white.png" class="img-responsive" alt="Correios"></li>
              <li class=""><img src="_galerias/shipping/pac.png" class="img-responsive" alt="PAC"></li>
              <li class=""><img src="_galerias/shipping/sedex.png" class="img-responsive" alt="SEDEX"></li>
            </ul>
          </div>
        </div>
      </div>

    </div><!-- container -->
    {% if facebook_status and facebook_url|length and instagram_status and instagram_url|length %}
    <div class="bgsocial-midia">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3"><h5>Encontre-nos aqui</h5></div>
            <div class="col-md-9">
              <ul class="social-icons text-left">
                {% if facebook_status and facebook_url|length %}
                <li class="social-icons-facebook" data-toggle="tooltip" title="Facebook"><a href="{{ facebook_url }}" target="_Blank"><i class="fab fa-facebook"></i></a></li>
                {% endif %}
                {% if instagram_status and instagram_url|length %}
                <li class="social-icons-instagram" data-toggle="tooltip" title="Instagram"><a href="https://instagram.com/{{ instagram_url }}" target="_Blank"><i class="fab fa-instagram"></i></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!-- bgsocial-midia -->
    {% endif %}

    <div id="copyright" class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 pull-left">
          <p>{{ endereco }}</p>
          <p>{{ powered }}</p>
        </div>
        <div class="col-xs-12 col-sm-2 pull-right">
          <a href="https://innsystem.com.br" target="_Blank" class="companyDeveloper"><b>Tecnologia:</b><br><img src="_galerias/logoinnsystem_white.png" alt="InnSystem Inovação em Sistemas"></a>
        </div>
      </div>
    </div><!-- container -->
  </footer>
</div>
<div class="footer-mobile">
  <footer>
    <div class="d-flex">
      <div class="flex-fill">
        <a href="index.php?route=common/home">
          <i class="fa fa-home"></i>
        </a>
      </div><!-- flex-fill -->
      <div class="flex-fill">
        <a  href="javascript:;" class="btnToggleMenu">
          <i class="fa fa-bars"></i>
        </a>
      </div><!-- flex-fill -->
    </div>
  </footer>
</div>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

<script type="text/javascript">
function subscribe(){
  var formNews = $('form[name="formNewsletter"]');
  var emailpattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
  var email = $('#newsletter-email').val();
  var cupom = "primeiracompra";
  var cupom_value = "20% de Desconto";
  var url_loja = "{{url_loja}}";
  var mensagem = "Prontinho! <br> Agora você pode realizar sua primeira comprando usando o cupom para receber "+cupom_value+". <br><br> Escolha os produtos em nossa loja, adicione ao carrinho e use o cupom: <h2 style='margin:5px 0;'><b>"+cupom+"</b></h2> <br> Você irá receber por e-mail nossas promoções e novidades.<br><br><small>* Caso deseja cancelar o <b>newsletter</b> basta responder o e-mail com o assunto <b>SAIR</b></small>";
  if(email != "")
  {
    if(!emailpattern.test(email))
    {
      $( "#msgRetorno").removeClass('hide').append("<div class='alert-dismissible alert alert-danger'>Utilize um e-mail válido! <button type='button' class='close' data-dismiss='alert' aria-label='Close' onclick='return closetAlert();'> <span aria-hidden='true'>&times;</span> </button></div>");
      $('#btnNewsletter').html('<i class="fa fa-check"></i> Registrar').attr('disabled', false);
      setTimeout(function(){
       $( "#msgRetorno").addClass('hide').empty();      
     }, 8000);

      return false;
    }
    else
    {
      $.ajax({
        url: 'index.php?route=common/footer/newsletters',
        type: 'post',
        data: {
          'email': email,
          'mensagem': mensagem
        },
        dataType: 'json',
        beforeSend: function(){
          $('#btnNewsletter').html('Aguarde').attr('disabled', true);
        },                
        success: function(json) {
          if (json.result.status === 'existe') {
            $( "#msgRetorno").removeClass('hide').append("<div class='alert-dismissible alert alert-danger'>E-mail já Cadastrado, utilize outro e-mail válido <button type='button' class='close' data-dismiss='alert' aria-label='Close' onclick='return closetAlert();'> <span aria-hidden='true'>&times;</span> </button></div>");
            $('#btnNewsletter').html('<i class="fa fa-check"></i> Registrar').attr('disabled', false);
            setTimeout(function(){
             $( "#msgRetorno").addClass('hide').empty();      
           }, 8000);
          } else if(json.result.status === 'falha'){
            $( "#msgRetorno").removeClass('hide').append("<div class='alert-dismissible alert alert-danger'>Não foi possível cadastrar. <button type='button' class='close' data-dismiss='alert' aria-label='Close' onclick='return closetAlert();'> <span aria-hidden='true'>&times;</span> </button></div>");
            $('#btnNewsletter').html('<i class="fa fa-check"></i> Registrar').attr('disabled', false);
            setTimeout(function(){
             $( "#msgRetorno").addClass('hide').empty();      
           }, 8000);
          } else if(json.result.status === 'ok'){
            $( "#msgRetorno").removeClass('hide').append("<div class='alert-dismissible alert alert-success'>"+mensagem+" <button type='button' class='close' data-dismiss='alert' aria-label='Close' onclick='return closetAlert();'> <span aria-hidden='true'>&times;</span> </button></div>");
            setTimeout(function(){
             $('#btnNewsletter').html('<i class="fa fa-check"></i> Registrar').attr('disabled', false);
             $( "#msgRetorno").addClass('hide').empty();      
           }, 20000);
          }                    
        },
        afterSend: function(){
          $('#btnNewsletter').html('<i class="fa fa-check"></i> Registrar').attr('disabled', false);
          setTimeout(function(){
           $( "#msgRetorno").addClass('hide').empty();
         }, 8000);
        }

      });
return false;
}
}
else
{

  $('#btnNewsletter').html('Aguarde').attr('disabled', true);
  $( "#msgRetorno" ).removeClass('hide').append("<div class='alert-dismissible alert alert-warning'>E-mail é necessário<button type='button' class='close' data-dismiss='alert' aria-label='Close' onclick='return closetAlert();'> <span aria-hidden='true'>&times;</span> </button></div>");      
  $('#btnNewsletter').html('<i class="fa fa-check"></i> Registrar').attr('disabled', false);
  setTimeout(function(){
   $( "#msgRetorno" ).addClass('hide').empty();      
 }, 8000);              
  $(email).focus();
  return false;
}
}

function closetAlert(){
  $( "#msgRetorno").addClass('hide').empty();
  $('#btnNewsletter').html('<i class="fa fa-check"></i> Registrar').attr('disabled', false);
}
</script>
</body></html>