<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <base href="{{ base }}" />
  {% if description %}
  <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
  <meta name="keywords" content="{{ keywords }}" />
  {% endif %}
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
  <link href="/catalog/view/javascript/font-awesome/5.1/css/all.min.css" rel="stylesheet">
  <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
  <link href="catalog/view/theme/{{ theme }}/stylesheet/stylesheet.css?{{random()}}" rel="stylesheet">
  <link href="catalog/view/theme/{{ theme }}/stylesheet/custom.css?{{random()}}" rel="stylesheet">
  <link href="catalog/view/theme/{{ theme }}/stylesheet/responsive.css?{{random()}}" rel="stylesheet">
  {% for style in styles %}
  <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  {% for script in scripts %}
  <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
  <script src="catalog/view/javascript/common.js?2" type="text/javascript"></script>
  {% for link in links %}
  <link href="{{ link.href }}?1" rel="{{ link.rel }}" />
  {% endfor %}
  {% for analytic in analytics %}
  {{ analytic }}
  {% endfor %}

  <script src="catalog/view/javascript/jquery/jquery.mask.js" type="text/javascript"></script>
  <script type="text/javascript">
  $(document).ready(function(){    
    // $('input[name="postcode"]').mask('00000-000');
    $("input[name='postcode']").mask('00000-000', {reverse: true, placeholder: "00000-000"});
    $('input[name="custom_field[account][1]]"').mask('000.000.000-00', {reverse: true});
    $('input[name="telephone"]').mask("(99) 99999-9999");
    $('input[name="telephone"]').on("blur", function() {
      var last = $(this).val().substr( $(this).val().indexOf("-") + 1 );

      if( last.length == 3 ) {
        var move = $(this).val().substr( $(this).val().indexOf("-") - 1, 1 );
        var lastfour = move + last;
        var first = $(this).val().substr( 0, 9 );

        $(this).val( first + '-' + lastfour );
      }
    });
  });
  </script>

</head>
<body class="{{ class }}">
  <div class="header-desktop">
    <header id="headerDesktop">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
              <h1><a href="{{ home }}">{{ name }}</a></h1>
              {% endif %}</div>
            </div>
            <div class="col-sm-9">
              <div class="row secondMenu">
                <div class="col-sm-8">{{ search }}</div><!-- col-5 -->
                <div class="col-sm-4">
                  <div class="linkHeaders">
                    <ul class="d-flex">
                      <li id="center-help" class="flex-fill">
                        <a href="javascript:;">
                          <div class="icon">
                            <i class="fa fa-comments"></i>
                          </div>
                          <div class="content">
                            <p>Central de <br><b>Atendimento</b> <i class="fa fa-angle-down"></i></p>
                          </div>
                        </a>
                        <div class="sub-menu">
                          <ul>
                            <li>
                              <div><i class="fab fa-whatsapp"></i> <b>Telefone</b></div>
                              <span><a href="https://web.whatsapp.com/send?phone=+55{{ telephoneLink }}">{{ telephone }}</a></span>
                            </li>
                            {% if cellphone %}
                            <li>
                              <div><i class="fa fa-phone"></i> <b>Celular</b></div>
                              <span><a href="https://web.whatsapp.com/send?phone=+55{{ cellphoneLink }}">{{ cellphone }}</a></span>
                            </li>
                            {% endif %}
                            <li class="e-mail">
                              <div><i class="fa fa-comment"></i> <b>Atendimento E-mail</b></div>
                              <span><a href="mailto:{{ email_admin }}">{{ email_admin }}</a></span>
                            </li>
                            {% if hour_open %}
                            <li>
                              <div><i class="fas fa-clock"></i> <b>Horário de Atendimento</b></div>
                              <p>{{ hour_open|replace({ '/space/': '<br>' }) }}</p>
                            </li>
                            {% endif %}
                          </ul>
                        </div>
                      </li><!-- end central de atendimento -->
                    </ul>
                  </div><!-- linksHeaders -->                  
                </div><!-- col-7 -->
              </div><!-- row -->
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- container -->
      </header>
      {{ menu }}     
    </div><!-- header-desktop -->

    <div class="header-mobile">
      <nav id="top" class="mobile-top">
        <div class="container">
          <div class="d-flex">
            <div class="">
              <a href="javascript:history.go(-1);" class="btn ml-3"><i class="fa fa-angle-left"></i></a>
            </div>            
            <div class="">
              <a href="javascript:;" class="btn btnToggleSearch"><i class="fa fa-search"></i></a>
            </div>
            <div class="ml-auto">
              <a href="javascript:;" class="btn btnToggleMenu mr-3"><i class="fa fa-bars"></i></a>
            </div>
          </div>
        </div>
      </nav>
      <header id="headerMobile">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
                <h1><a href="{{ home }}">{{ name }}</a></h1>
                {% endif %}</div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="box-search hide">
              {{ search }}
            </div>
          </div>
        </header>

        <div class="menu-mobile">
          <a href="javascript:;" class="btnCloseToggleMenu"><i class="fa fa-times"></i></a>
          {{ menu }}
        </div>
      </div><!-- header-mobile -->
      

      {% if bfloat_status  %}
      <div class="headerbuttonsfloat">
        <ul>
          <li><a href="javascript:;" data-toggle="tooltip" data-placement="right" title="Entre em Contato"><i class="fa fa-comments"></i></a>
            <ul>
              {% if bfloat_whatsapp %}
              <li><a href="https://web.whatsapp.com/send?phone=+55{{ bfloat_whatsapp }}" target="_Blank" class="whatsapp" data-toggle="tooltip" data-placement="right" title="WhatsApp"><i class="fab fa-whatsapp"></i></a></li>
              {% endif %}

              {% if bfloat_facebook %}
              <li><a href="https://facebook.com/{{ bfloat_facebook }}" target="_Blank" class="facebook" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fab fa-facebook"></i></a></li>
              {% endif %}

              {% if bfloat_messenger %}
              <li><a href="https://m.me/{{ bfloat_messenger }}" target="_Blank" class="facebook-messenger" data-toggle="tooltip" data-placement="right" title="Messenger"><i class="fab fa-facebook-messenger"></i></a></li>
              {% endif %}

              {% if bfloat_instagram %}
              <li><a href="https://instagram.com/{{ bfloat_instagram }}" target="_Blank" class="instagram" data-toggle="tooltip" data-placement="right" title="Instagram"><i class="fab fa-instagram"></i></a></li>
              {% endif %}

              {% if bfloat_mail %}
              <li><a href="mailto:{{ bfloat_mail }}" class="comment" data-toggle="tooltip" data-placement="right" title="E-mail"><i class="fa fa-comment"></i></a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
      {% endif %}

      <main class="content_geral">