{{ header }}
<div id="product-category" class="">
  <div class="container">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      <div class="container">
        {{ content_top }}
        <div class="heading-page">
          <h1 class="title">{{ heading_title }}</h1>
        </div>
        {% if thumb or description %}
        <div class="row"> {% if thumb %}
          <div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
          {% endif %}
        </div>
        {% endif %}
        {% if categories %}
        <h4 class="title">{{ text_refine }}</h4>

        <div class="list-categories">
          <ul>
            {% for category in categories %}
            <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>

        {% endif %}
        {% if products %}
        <div class="category-options hide">
          <div class="pull-right"><b>Exibir por:</b> <br>
            <div class="btn-group btn-group-sm">
              <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i> <span class="hidden-xs">Lista</span></button>
              <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i> <span class="hidden-xs">Grade</span></button>
            </div>
            <select id="input-limit" class="form-control select-quantity" onchange="location = this.value;" data-toggle="tooltip" title="Quantidade a exibir">
              {% for limits in limits %}
              {% if limits.value == limit %}
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              {% else %}
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="pull-right"><b>Ordenar por:</b> <br>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              {% else %}
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="pull-left">{{ results }}</div>
        </div>
      </div><!-- container -->
      <div class="clearfix"></div>

    <!--         <div class="form-group input-group input-group-sm hide">
    <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>

    </div>
    <div class="form-group pull-left"><a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a></div>
  -->

  <div class="container">
    <div class="row">
      {% if description %}
      {% if description != '<p><br></p>' %}
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            {{ description }}
          </div>
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% for product in products %}
      {% if heading_title == 'Sortimento de Modelos' %}
      <div class="col-xs-6 col-md-4">
        {% else %}
        <div class="col-xs-6 col-md-3">
          {% endif %}
          <div class="product-thumb transition" onclick="openDescription($(this));">
            <div class="image">
              <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
            </div>
            <div class="caption" onclick="openDescription($(this));">
              <h4>{{ product.name }}</h4>
            </div>
            {% if product.description|length > 1 %}
            <div class="product-description hide">
              <h4>{{ product.name }} <a href="javascript:openDescription();" class="closet"><i class="fa fa-times"></i></a></h4>

              {{ product.description }}
            </div>
            {% endif %}
          </div>
        </div><!-- product-layout -->
        {% endfor %}
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
    </div>
    {% endif %}
    {% if not categories and not products %}
    <p>{{ text_empty }}</p>
    <div class="buttons">
      <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
    </div>
    {% endif %}
    {{ content_bottom }}</div>
    {{ column_right }}</div>
  </div>
  {{ footer }} 
