<div class="container">
  <div class="module-random">
    <div class="heading-page">
      <h3>{{ heading_title }}</h3>
    </div>
    <div class="row">

      {% if type %}
      <div class="swiper-viewport">
        <div id="banner{{ module }}" class="swiper-container">
          <div class="swiper-wrapper">
            {% endif %}

            {% for product in products %}
            {% if type %}
            <div class="swiper-slide">
              {% else %}
              <div class="col-xs-6 col-md-3">
               {% endif %}
               <div class="product-thumb transition" onclick="openDescription($(this));">
                <div class="image">
                  <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
                </div>
                <div class="caption" onclick="openDescription($(this));">
                  <h4>{{ product.name }}</h4>
                </div>
                {% if product.description|length > 1 %}
                <div class="product-description hide">
                  <h4>{{ product.name }} <a href="javascript:openDescription();" class="closet"><i class="fa fa-times"></i></a></h4>

                  {{ product.description }}
                </div>
                {% endif %}
              </div>
            </div><!-- product-layout -->
            {% endfor %}
            {% if type %}
          </div><!-- swiper-wrappe -->
        </div><!-- swiper-container -->
        <div class="swiper-pagination slideshow{{ module }}"></div>
        <div class="swiper-pager">
          <div class="swiper-button-next random-btn-next{{ module }}"></div>
          <div class="swiper-button-prev random-btn-prev{{ module }}"></div>
        </div><!-- swiper-pager -->
      </div><!-- swiper-viewport -->
      {% endif %}

    </div><!-- row -->
  </div><!-- module -->
</div><!-- container -->

{% if type %}
<script type="text/javascript"><!--
$('#banner{{ module }}').swiper({
  mode: 'horizontal',
  slidesPerView: 4,
  pagination: '.slideshow{{ module }}',
  paginationClickable: true,
  nextButton: '.random-btn-next{{ module }}',
  prevButton: '.random-btn-prev{{ module }}',
  // spaceBetween: 30,
  autoplay: {{ module }}00,
  autoplayDisableOnInteraction: true,
  loop: true,
  breakpoints: {
    350: {
      slidesPerView: 1,
    },
    640: {
      slidesPerView: 2,
    },
    768: {
      slidesPerView: 3,
    },
    1024: {
      slidesPerView: 4,
    },
  }
});
--></script> 
{% endif %}